.blocks {
  margin-top: 10%;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .block-items {
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      .block-title {
        font-weight: 700;
        color: #515769;
        line-height: 1.4;
        margin: 0 0 1rem;
        font-size: 2rem;
      }

      .block-text {
        font-size: 1rem;
        font-weight: 400;
        color: #a6a7aa;
        margin-bottom: 1rem;
        width: 320px;
      }

      .item-zoom {
        position: relative;
        overflow: hidden;
        //width: 400px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      .item-zoom img {
        vertical-align: top;
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }

      .item-zoom:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

      .block-items-img {
        height: 240px;
        width: 360px;
        object-fit: cover;
        transition: .8s;
      }
      &:hover img {
        transform: scale(1.1);
      }
      &:hover h2{
        color: #17bed2;
      }
    }
  }
}