body {
  font-family: 'Hind', sans-serif;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  height: 100vh;
}

.slider-text {
  position: absolute;
  top: 15%;
  left: 5%;
  color: white;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 14.9rem;

    .slider-title {
      font-size: 5rem;
      font-weight: bolder;
      text-transform: uppercase;
    }

    .slider-title:hover {
      color: #17bed2;
    }

    .slider-mini-text {
    }

    .btn-explore {
      border: 2px solid white;
      background: transparent;
      color: white;
      padding: 1rem 2.2rem;
      margin-top: 1rem;
    }

    .btn-explore:hover {
      color: #515769;
      background: #fff;
      border-color: #fff;
      transition: 1s;
    }
  }
}